body {
  max-width: 1000px;
  font-family: Magra, sans-serif;
  color: #303030;
  margin: 0px;
  padding: 0px; }
  body h1 {
    margin: 0;
    padding: 0.5em; }
  body p {
    margin: 0;
    padding: 0.5em; }
  body div.grid-container {
    display: grid;
    grid-template-columns: 80% 20%; }
    body div.grid-container div.grid-item {
      margin: 0;
      padding: 0; }
